<div class="container">
		<div class="page-header">
			<center><h1>ABM - PHP - Angular</h1> </center>     
		</div>
	  	 
					<div class="CajaInicio animated bounceInRight">
							<h1>Listado de productos</h1>
								<input type="search" ng-model="buscador" placeholder="Buscar Producto">							<!-- id="listaProductos" -->
								
								<table class='table table-hover table-responsive' id="listaProductos">
									<thead>
										<tr>			
											<th>  Nombre     </th>
											<th>  Porcentaje   </th>
											<th ng-if="esAdmin">  BORRAR     </th>
											<th ng-if="esAdmin">  MODIFICAR  </th>
										</tr> 
									</thead>
									<tr ng-repeat="producto in ListadoProductos | orderBy:['nombre','porcentaje']:false | filter:FiltrarProductos as resultado">

										
							
										<td>{{producto.nombre}}</td>
										<td>{{producto.porcentaje}}</td>
										<td ng-if="esAdmin"><button class='btn btn-danger' name='Borrar' ng-click="Borrar(producto)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td ng-if="esAdmin"><button class='btn btn-warning' name='Modificar' ng-click="CargarModificacion(producto)"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
															
									</tr>

								</table>
								<div ng-if="resultado.length==0">
									No hay productos con ese critero.
								</div>
							</div>
							
						</div>